@model Aveeno1.Models.UserRegistration

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>
    <div> 
        @Html.Raw(this.Model.Error)
        @using (Html.BeginForm("Register","Account",FormMethod.Post,new {id="frmRegistration"}))
        {
            <div>
                <p>
                    <label for="username" class="labelheader">Your name:</label>
                    @Html.TextBoxFor(m=>m.Name)
                    @Html.ValidationMessageFor(m=>m.Name)
                </p>
                <p>
                    <label for="email" class="labelheader">Email</label>
                    @Html.TextBoxFor(m => m.Email)
                    @Html.ValidationMessageFor(m => m.Email)
                </p>
            </div>
        }
    </div>
</body>
</html>
